.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 5. Toma de muestras del cadáver
            .tituloPrincipal__icono 

    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/AYcUGakNHfQ', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

                .card-body.mt-0

                    .question.mt-2           

                        .question-header

                            .question-number
                                i.fa.fa-lg.fa-tint

                            .question-title
                                span Toma de muestras para un correcto diagnóstico de los virus respiratorios.


                        .question-body                
                    
                            p.mb-5 Para los casos de muerte hospitalaria o domiciliaria, por un presunto cuadro respiratorio no diagnosticado, el prestador de servicios de salud debe realizar la toma de muestras de secreción respiratoria con aspirado nasofaríngeo e hisopado nasofaríngeo y orofaríngeo.



                            .row.justify-content-between.align-items-start.mt-5
                                .col-12.col-lg-6

                                    p.header-step
                                        span.header-step-number 01
                                        span.header-step-title <strong>La muestra debe tomarse dentro de las primeras 6 horas post mortem.</strong>


                                    hr

                                    p.header-step
                                        span.header-step-number 02
                                        span.header-step-title <strong>La toma de la muestra deberá ser con hisopos en medio de transporte de viral (MTV) y los aspirados en solución salina. </strong>

                                    hr

                                    p.header-step
                                        span.header-step-number 03
                                        span.header-step-title <strong>Remitirlas de manera inmediata al Laboratorio de Salud Pública Departamental o Distrital (LDSP).</strong>

                                    hr

                                    p.header-step
                                        span.header-step-number 04
                                        span.header-step-title <strong>Dentro de las primeras 48 horas posterior a su recolección, se deben conservar a una temperatura de refrigeración entre -2 y 8°C. </strong>

                                    hr

                                
                                .col-12.col-lg-6

                                    

                                    p.header-step
                                        span.header-step-number 05
                                        span.header-step-title <strong>Si van a ser procesadas o enviadas al LDSP o al Instituto Nacional de Salud después de las 48 horas de recolección, se deben conservar congeladas a menos 70°C. </strong>

                                    hr

                                    p.header-step
                                        span.header-step-number 06
                                        span.header-step-title <strong>En los casos sin diagnóstico en los cuales se sospecha infección por COVID-19, se hace obligatoria la aplicación de todos los lineamientos de protección y cuidados. </strong>

                                    hr




