.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 7. Limpieza y desinfección en área hospitalaria
            .tituloPrincipal__icono 



    section.card-border-bottom

        .card.mb-5
            .card-body
                | En el área hospitalaria donde ocurrió el deceso, el prestador de servicios de salud debe realizar la limpieza y desinfección terminal de toda la zona y elementos (cama, equipos de la cabecera, colchonetas, puertas, cerraduras, ventanas, baño, etc.), incluyendo todos los que sean reutilizables, de acuerdo con los protocolos definidos por la institución.  La desinfección no aplica para máscaras y filtros de máscaras reutilizables.


        .card.mb-5
            img(src="images/modulo-6/h1.svg").card-img-top
            .card-body
                p.header-step
                    span.header-step-number 01
                    span.header-step--title Retirar y desechar en bolsa roja doble todos los elementos después del deceso del paciente.

        .card.mb-5
            img(src="images/modulo-6/h2.svg").card-img-top
            .card-body
                p.header-step
                    span.header-step-number 02
                    span.header-step--title El proceso de limpieza se inicia con el lavado de techos, paredes y ventanas.

        .card.mb-5
            img(src="images/modulo-6/h3.svg").card-img-top
            .card-body
                p.header-step
                    span.header-step-number 03
                    span.header-step--title La limpieza de la cama se inicia retirando la ropa de la cama envolviéndola hacia el centro para evitar producir aerosoles, limpiar la cama con detergente líquido hospitalario, retirar con paño húmedo con agua y aplicar desinfectante de nivel intermedio. 


        .card.mb-5
            img(src="images/modulo-6/h4.svg").card-img-top
            .card-body
                p.header-step
                    span.header-step-number 04
                    span.header-step--title Incluir en la limpieza el colchón, muebles accesorios, equipos médicos, superficies de alto contacto (Ej. las perillas de las puertas, interruptores de la luz, timbres de llamado, control remoto, los bordes de las cortinas etc.).


        .card.mb-5
            img(src="images/modulo-6/h5.svg").card-img-top
            .card-body
                p.header-step
                    span.header-step-number 05
                    span.header-step--title Limpieza del baño y el piso.

