.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 6. Protocolo para el manejo del cadáver por parte del prestador de salud
            .tituloPrincipal__icono 

    .row.my-5
        .col

            .card
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/oWe5aX8xx_8', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
                    

    .header-arrow
        h3.text-center Alistamiento del Cadáver

    section.card-border-bottom.mt-5.card-transparent

        .row.justify-content-center

            .col-12.col-md-10

                .card.mb-5
                    img(src="images/modulo-5/p1.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 01
                            span.header-step--title Cubrir todos los orificios naturales con algodón impregnado de solución desinfectante. 

                .card.mb-5
                    img(src="images/modulo-5/p2.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 02
                            span.header-step--title Envolver el cadáver en su totalidad sin retirar catéteres, sondas o tubos que puedan contener los fluidos, en tela anti fluido o sábana. 


                .card.mb-5
                    img(src="images/modulo-5/p3.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 03
                            span.header-step--title Pasar el cadáver a la primera bolsa para traslado, con la sábana o tela antifluido que cubre la cama donde fue atendido el paciente. 
                                

                .card.mb-5
                    img(src="images/modulo-5/p4.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 04
                            span.header-step--title Una vez que se ha colocado el cadáver en la primera bolsa para traslado, se debe rociar con desinfectante el interior de la bolsa previo al cierre de esta. Igualmente, tras el cierre de la bolsa, se debe desinfectar su exterior.


                .card.mb-5
                    img(src="images/modulo-5/p5.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 05
                            span.header-step--title Colocar la primera bolsa debidamente cerrada dentro de la segunda, se cierra y se repite el rociado con desinfectante. 

                .card.mb-5
                    img(src="images/modulo-5/p6.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 06
                            span.header-step--title Culminado este proceso, se deben desinfectar los guantes exteriores usados, con alcohol isopropílico al 70%.

                .card.mb-5
                    img(src="images/modulo-5/p7.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 07
                            span.header-step--title Después del alistamiento del cadáver, el personal de salud informará al servicio fúnebre y trasladará el cuerpo a la morgue o depósito de cadáveres donde será entregado al personal del servicio funerario.

                        p.header-step.my-5
                            span.header-step-number 08
                            span.header-step--title El traslado interno del cadáver deberá realizarse siguiendo la ruta establecida por el prestador de servicios de salud, garantizando las condiciones de bioseguridad sin poner en riesgo la comunidad hospitalaria, pacientes, familiares y usuarios.

                        p.header-step.my-5
                            span.header-step-number 09
                            span.header-step--title El personal de salud informará a los servidores del servicio fúnebre o del sistema judicial, sobre los riesgos y medidas preventivas que se deben observar para el manejo del cadáver. Así mismo, verificará que cumplan con las normas de bioseguridad y elementos de protección personal para el retiro del cadáver.


                .card.mb-5
                    img(src="images/modulo-5/p9.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 10
                            span.header-step--title Luego del retiro del cadáver de la habitación, área de atención y lugar donde se realizó el alistamiento del cadáver, se debe realizar el respectivo procedimiento de limpieza y desinfección de áreas y elementos según las recomendaciones del comité de infecciones.  



                .card.mb-5
                    img(src="images/modulo-5/p10.svg").card-img-top
                    .card-body
                        p.header-step
                            span.header-step-number 11
                            span.header-step--title Cuando deba practicarse necropsia médico legal, el cuerpo será entregado a los servidores del sistema judicial quienes asumirán la custodia.


                                                                                                                    