.container
    .row.my-5
        .tituloPrincipal.col-12
            .tituloPrincipal__txt
                h2 4. Protocolo para el manejo del cadaver en el domicilio
            .tituloPrincipal__icono 



    article

        .card.mb-5
            .card-body
                | En caso de que ocurra un deceso en el domicilio de una persona que no haya recibido atención médica, con enfermedad precedente compatible con infección respiratoria no determinada, o antecedentes de viaje a zonas con circulación activa del virus, o contacto con un caso probable o confirmado de infección por COVID-19, la EAPB coordinará el desplazamiento del equipo de salud hacia el domicilio. 


        .header-arrow.text-center.my-5
            h3 El equipo de salud que se desplaza al domicilio del fallecido, realiza:



        section.pasos-protocolo.card-border-bottom.mt-5.pt-5

            .row.justify-content-center.mt-5.no-margin

                .card.col-12.col-md-5.mb-5.mr-md-4.my-5
                    
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="images/modulo-3/d1.svg").avatar-img.rounded-circle.border.border-card.border-4

                        p.header-step
                            span.header-step-number 01
                            span.header-step--title <strong>Autopsia verbal:</strong> documentar las circunstancias que rodearon el deceso y establecer las posibles causas de muerte.


                .card.col-12.col-md-5.mb-5.p-0.ml-md-4.my-5
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="images/modulo-3/d2.svg").avatar-img.rounded-circle.border.border-card.border-4
                        p.header-step.flex-column.justify-content-center.align-items-center
                            span.header-step-number 02
                            span.header-step--title <strong>Toma de muestras:</strong> que sean procedentes y la remisión inmediata al Laboratorio de Salud Pública.


            .row.justify-content-center

                .card.col-12.col-md-5.p-0.mr-md-4.mt-5
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="images/modulo-3/d3.svg").avatar-img.rounded-circle.border.border-card.border-4
                        p.header-step
                            span.header-step-number 03
                            span.header-step--title <strong>Emisión del certificado de defunción y embalaje del cadáver</strong> para entrega al servicio funerario evitando así el traslado del cadáver al prestador de servicios de salud o al sistema judicial (artículo 2.8.9.7 del Decreto 780 de 2016).


                .card.col-12.col-md-5.p-0.ml-md-4.mt-5
                    .card-body.text-center

                        .avatar.avatar-xxl.card-avatar.card-avatar-top
                            img(src="images/modulo-3/d4.svg").avatar-img.rounded-circle.border.border-card.border-4
                        p.header-step
                            span.header-step-number 04
                            span.header-step--title <strong>Alistamiento del cadáver:</strong> será realizado en el mismo sitio del deceso, por parte del personal de salud autorizado para la manipulación del cadáver. Deberá contar con los elementos de protección personal y seguir los procedimientos de bioseguridad establecidos en este documento, así como los elementos necesarios para la toma de muestras, bolsas para el embalaje e insumos para el manejo de residuos entre otros.


    article

        .row.my-5
            .tituloPrincipal.col-12
                .tituloPrincipal__txt
                    h2 Limpieza y desinfección en el domicilio
                .tituloPrincipal__icono 


        .card
            .card-body
                
                p El equipo de salud brindará las orientaciones dirigidas a familiares o responsables del sitio del deceso, sobre los procedimientos de limpieza y desinfección con el objeto de evitar posibles contagios del virus. 


        .row.justify-content-center

            .card.card-highlight.col-12.col-md-8
                .card-body
                    p.header-step
                        span.header-step-number 01

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-3/a1.svg", style="max-width: 340px").avatar-img
                        .col.ml-n2
                            p Usar mascarilla respiratoria N 95 y guantes para trabajo pesado (guantes de caucho), lavarlos con jabón líquido después de cada procedimiento y permitir su secado.


            .card.card-highlight.col-12.col-md-8
                .card-body
                    p.header-step
                        span.header-step-number 02

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-3/a2.svg", style="max-width: 340px").avatar-img
                        .col.ml-n2
                            p Aplicar las soluciones detergentes y desinfectantes según las indicaciones del fabricante.



            .card.card-highlight.col-12.col-md-8
                .card-body
                    p.header-step
                        span.header-step-number 03

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-3/a3.svg", style="max-width: 340px").avatar-img
                        .col.ml-n2
                            p Al barrer con escoba en áreas de atención de pacientes cubrirla con un paño húmedo para reducir que se propaguen los microorganismos y el polvo.


            .card.card-highlight.col-12.col-md-8
                .card-body
                    p.header-step
                        span.header-step-number 04

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-3/a4.svg", style="max-width: 340px").avatar-img
                        .col.ml-n2
                            p Se debe realizar la limpieza de áreas y superficies con el fin de retirar el polvo y suciedad, para que la desinfección sea efectiva


            .card.card-highlight.col-12.col-md-8
                .card-body
                    p.header-step
                        span.header-step-number 05

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-3/a5.svg", style="max-width: 340px").avatar-img
                        .col.ml-n2
                            p Posteriormente aplicar desinfectante, se realizará con hipoclorito de uso doméstico el cual debe estar en contacto con las áreas de: pisos, baños en caso de que el deceso haya sido en domicilio, durante 10 minutos para que sea efectivo y después se debe retirar con un paño limpio. 

                            p.mt-4 Para la desinfección de pisos y paredes, utilizar 50 ml hipoclorito de sodio (blanqueador de ropa) + 950 ml agua.  En caso de que haya presencia de fluidos corporales, utilizar 100 ml de hipoclorito de sodio + 900 ml de agua, para realizar la desinfección.



            .card.card-highlight.col-12.col-md-8
                .card-body
                    p.header-step
                        span.header-step-number 06

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-3/a6.svg", style="max-width: 340px").avatar-img
                        .col.ml-n2
                            p Continuar con la desinfección aplicando alcohol al 70% en las superficies en las cuales no se puede aplicar hipoclorito, el alcohol se deja en contacto con la superficie y no se debe retirar.


            .card.card-highlight.col-12.col-md-8
                .card-body
                    p.header-step
                        span.header-step-number 07

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-3/a7.svg", style="max-width: 340px").avatar-img
                        .col.ml-n2
                            p La ropa y sábanas del cadáver, deben separarse y lavarse con agua y jabón ordinario, o a máquina a 60–90 °C con detergente ordinario, y dejar secar por completo.


            .card.card-highlight.col-12.col-md-8
                .card-body
                    p.header-step
                        span.header-step-number 08

                    .row.align-items-center
                        .col-auto
                            .avatar.avatar-big
                                img(src="images/modulo-3/a8.svg", style="max-width: 340px").avatar-img
                        .col.ml-n2
                            p Los trapos y otros materiales desechables empleados en el proceso deben ser desechados en doble bolsa, se deberá marcar, para lo cual se podrá emplear cinta aislante o de enmascarar de color blanco.



