head
  meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  title EDT-MANEJO CADÁVER SOSPECHOSO O CONFIRMADO POR COVID 19  PARA PERSONAL DE SALUD
  meta(meta name="description" content="Este Evento de Divulgación Tecnológica (EDT), presenta en orden secuencial los cuidados y medidas a tener en cuenta por parte de las instituciones de salud, en especial para el talento humano en salud, relacionados con los procesos de manejo del cadáver sospechoso o confirmado por Covid19 en el servicio hospitalario hasta el traslado interno en la institución.")     
  link(rel="icon",type="image/svg+xml",href="../assets/images/logos/senaLogo.svg")
  link(rel="stylesheet", href="../assets/fonts/fontawesome/css/font-awesome.css")  
  link(href='../assets/css/animate.css', rel='stylesheet')
  link(href='../assets/css/main.css?v=2.1', rel='stylesheet')
  